.rvg-reviews-tree [data-name="rvg_transcription"] {
    max-width: 35% !important;
    width: 35% !important;
}

.rvg-reviews-tree [data-name="rvg_issues"] {
    max-width: 20% !important;
    width: 20% !important;
}

.rvg-photos-field .o_wrap_field {
    overflow: auto;
}